
    .row-2{ 
      border-left: 1px solid rgb(187, 183, 183);
      border-right: 1px solid rgb(187, 183, 183); 
      border-bottom: 1px solid rgb(187, 183, 183);
    }
  
    .row-1{
      background-color: #00695c;
      // border-radius: 4px;
      top: 0px;
      left: 0px;
    }
  
  
    .heading{
      color: white;
      text-align: center;
      margin:0px;
      padding: 5px;
    }
  
  .mat-grid{
   left: 75px;
  }
  
  