<div class="heading-class">
    <strong>
        <h1 class="t-head">TRAINING QUIZ</h1>
    </strong>
</div>
<div class="question-sec">
    <div class="main-class-note">
        <b>Note:</b> Please Select at least one question to submit quiz.
    </div>
    <div class="main-class" *ngFor="let index = index;let question of jumbledQuestions">
        <mat-card class="question-class">
            <mat-card-header class="header-class">
                <mat-card-title class="title-class">{{question}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <mat-radio-group class="radio-group-class">
                    <mat-radio-button class="choice-class" *ngFor="let option of jumbledChoices[index]"
                        [value]="option+index" (change)="radioChange($event, choices[index])">{{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="text-center">
    <button mat-raised-button type="button" class="submit-button" [disabled]="selected.length==0"
        (click)="submitQuiz()">Submit Quiz</button>
</div>