<div *ngIf=isCertificate>
    <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
        <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
            <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
            <br>
            <i class="fa fa-certificate" style="font-size:100px"></i>
            <br><br>
            <span style="font-size:25px"><i>This is to certify that</i></span>
            <br><br>
            <span style="font-size:30px"><b> {{data?.Emp_Last_Name}}, {{data?.Emp_First_Name}}</b></span><br /><br />
            <span style="font-size:25px"><i>has completed the course</i></span> <br /><br />
            <span style="font-size:30px">{{data?.Dept_Name}}</span> <br /><br />
            <span style="font-size:20px">with score of <b>{{actualScore}}</b></span> <br /><br />
            <span style="font-size:25px"><i>dated</i></span><br>
            <span style="font-size:30px">{{data?.Start_Date?(data.Start_Date| date: 'MM/dd/yyyy'):'N.A'}}</span>


        </div>
    </div>
</div>