<div class="header-style"><h3 mat-dialog-title>{{data["isChangeStatus"]?'Change Status':'Transfer Employee'}}</h3>
</div>
<br>
<div mat-dialog-content class="pos-rel">
    <div class="text-center">
    <mat-form-field>
        <mat-label>Select {{data["isChangeStatus"]?'Status':'Department'}}</mat-label>
        <select matNativeControl required  [(ngModel)]="transferDept" >
          <option *ngFor="let item of dropDownItems" (value)="item.value">
            {{item.viewValue}}
          </option>
        </select>
      </mat-form-field>
    </div>
    <br>
    <div class="text-center red error-style">{{errorMsg}}</div>
</div>
<div mat-dialog-actions class=" pad-5 mat-footer-style">
    <div>
    <button mat-raised-button  mat-dialog-close>Close</button>
    <button *ngIf="!data.isChangeStatus" mat-raised-button  [disabled]="transferDept=='Select'"   (click)="transfer()">Transfer</button>
  <button *ngIf="data.isChangeStatus" mat-raised-button  [disabled]="transferDept=='Select'"   (click)="statusChange()">Submit</button>
</div>

</div>