<div class="main-div">
    <div class="title-class">
        <h1 style="padding-top: 2.5%; margin-left: 42%;">Quiz Score</h1>
    </div>
    <div class="info-class">
        <p class="text">{{text3}}</p>
        <p class="text">Your score is</p>
        <p class="score1"><b>{{Employee.Quiz_score}}%</b></p>
        <p class="text">in this quiz</p>
    </div>
    <input type="button" class="Quiz-button" value="Retake Quiz" [class.disabled]="Employee.Quiz_score>=80"
        [disabled]="Employee.Quiz_score>=80" (click)="openRetakeDialog()">
    <input type="button" class="certificate-button" [class.disabled]="disabled || Employee.Quiz_score<80"
        [disabled]="disabled || Employee.Quiz_score<80" value="View Certificate" (click)="openCertificateDialog()">
</div>