.user-icon{
    display: inline-table;
    color: #ccc;
    font-size: 150px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.h-230{
height: 230px;
}
.emp-detail-card >div{
    margin-top: 10px;
    margin-bottom: 30px;
}
.emp-profile-note{
    top: 20%;
    font-size: 20px;
}
.view-certificate-button{
    position: absolute;
    top: 34%;
    left: 25%;
}