<div class="emp-profile flex">
    <div class="m-10">
        <mat-card class="h-230">
            <div clsss="profile-icon">
                <div class="text-center">
                <mat-icon class="user-icon">account_circle</mat-icon>
                </div>
            </div>
            <div class="f-18 text-center">
                <span>{{employee.Emp_First_Name}}</span>,<span>{{employee.Emp_Last_Name}}</span>
            </div>
        </mat-card>
    </div>
    <div class="m-10">
        <mat-card class="h-230 emp-detail-card">
            <div class="row">
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">First Name: </div>
                    <div class="dis-inline-block u-value">{{employee.Emp_First_Name}} </div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Last Name: </div>
                    <div class="dis-inline-block u-value">{{employee.Emp_Last_Name}}</div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Gender: </div>
                    <div class="dis-inline-block u-value">{{employee.gender?employee.gender:"N.A."}} </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Department: </div>
                    <div class="dis-inline-block u-value">{{employee.Dept_Name?employee.Dept_Name:"N.A."}} </div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Ph No.: </div>
                    <div class="dis-inline-block u-value">{{employee.Emp_phone}}</div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Certificate Status: </div>
                    <div class="dis-inline-block u-value">{{employee.status?employee.status:"N.A."}} </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">State: </div>
                    <div class="dis-inline-block u-value">{{employee.State?employee.State:0}}$ </div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Zip: </div>
                    <div class="dis-inline-block u-value">{{employee.Zip}}</div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">County: </div>
                    <div class="dis-inline-block u-value">{{employee.county?employee.county:"N.A."}} </div>
                </div>
               
                
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Email: </div>
                    <div class="dis-inline-block u-value">{{employee.Emp_email?employee.Emp_email:'N.A.'}}$ </div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">isActive:{{userInfo.is_active}}</div>
                    <div class="dis-inline-block u-value">{{userInfo.is_active==1?'Yes':'No'}}</div>
                </div>
                <div class="col-lg-4">
                    <div class="dis-inline-block u-label">Training Status: </div>
                    <div class="dis-inline-block u-value">{{employee.Training_Status?employee.Training_Status:"N.A."}} </div>
                </div>
               
                
            </div>
        </mat-card>
    </div>
    <div class="m-10">
        <mat-card class="h-230 emp-detail-card">
            <button class="view-certificate-button" mat-raised-button color="primary" (click)="print()">View Certificate</button>
            <button [disabled]="userInfo.is_Admin" class="view-transfer-button" mat-raised-button color="primary" (click)="transfer()">Request To Transfer </button>
                  </mat-card>
        
    </div>
</div>

<div class="pos-rel emp-profile-note">
<div class="text-center  red">
   <b class="mr-5">Note: </b> You are not allowed to change the personal details. For Modifying the details contact your manager.
</div>
</div>
<div id="section-to-print">
    <app-certificate [data]="employee"></app-certificate>
  </div>