.main-div{
    margin-top: 30px;
    margin-left: 30px;
}
.title-class{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
    padding: 10px;
    background-color: #00695c;
    color: white;
}
.info-class{
    padding: 50px;
    margin-top: 30px;
    margin-right: 100px;
    box-sizing: border-box;
    margin-left: 60px;
}
.info-class-2{
    margin-top: 30px;
    box-sizing: border-box;
    margin-left: 60px; 
    margin-right: 100px;  
    border-bottom: 1px solid black;
}
.info-class-3{
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 100px;
    box-sizing: border-box;
    margin-left: 60px;
}
.start-button{
    padding: 10px;
    background-color: #00695c;
    color: white;
    margin-left: 26%;
    margin-top: 80px;
}