<div class = "main-div">
    <div class = "title-class">
        <em><h1 style = "padding-top: 10px; margin-left: 42%;">Orientation Quiz</h1></em>
    </div>
    <div class = "info-class-2">
        <h1><strong>Information</strong></h1>
        <p><em>Questions in the quiz are based on orientation training. The quiz will have ten questions. You can attempt the quiz any number of times. Quiz does not have a time limit. <br>After submitting the quiz, view certificate only if you are satified with the score. You cannot retake the quiz once you view the certificate.</em></p>
    </div>
    <div class = "info-class">
            <h3 style = "float: left;"><strong>Points</strong>          :          10</h3>        <h3 style = "float: right;"><strong>Time Limit</strong>      :          None</h3>
    </div>
    <div class = "info-class-3">
            <h3 style="float: left;"><strong>Questions</strong>       :          10</h3>      <h3 style="float: right;"><strong>Allowed Attempts</strong>:          Unlimited</h3>
    </div>
    <input type = "button" class = "start-button" value ="Start Quiz" (click)="startQuiz()">
</div>

