.mat-dialog-title
{
    text-align:center;
    justify-content: center; 
    font-size: 150%;
}
.mat-dialog-content
{
    margin-top: 4%;
     
}
.mat-dialog-content1
{
    margin-bottom: 3%;
    text-align:center;
    justify-content: center;
}
.mat-dialog-content2
{
    margin-bottom:6%;
    text-align:center;
    justify-content: center;
}