.side-nav-content{
    background-color: white;
    border:1px solid #ccc;
    width: 60px;
}
.side-nav-default-width{
    width: 60px;
}
.side-nav-lg-width{
    width: 200px;
    transition: width 0.1s;
}
.menu-list{
        list-style-type: none;
      }
      .menu-list-li{
        border: 1px solid #ccc;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        box-shadow: 0.1px 0.1px #ccc;
        margin-top:10px;
        margin-bottom: 10px;
    }
    .icon-item-style{
        position: relative;
        left: 7px;
        top: 7px;
    }
.li-expand{
    padding: 8px 5px 8px 5px;
    border-bottom: 1px solid rgb(0 0 0 / 4%);
    cursor: pointer;

}
.selected-item-style{
    background:#00695c;
    color: white;

}
.link-menu-active{
  color:var(--bg);  
}
.link-menu-item-active{
    background-color: var(--bg);
    color:white;
    
}