.landing-text{
    position: relative;
    top: 30%;
}
.portal-name-text{
    position: relative;
    top: 20%;
}
.circle{
    width: 80px;
    text-align: center;
    border: 1px solid #00695c;
    border-radius: 50%;
    height: 80px;
    position: relative;
}
.emp-icon{
    position: absolute;
    left: 18px;
    top: 11px;
}
