<div class="landing-page">
<div class="flex landing-page-items">
    <div class="primary-bg">
    <div class="white landing-text">
        <div class="text-center">
            <!-- <mat-icon>supervised_user_circle</mat-icon> -->
        </div>
        <div class="text-center "> Welcome to Employee Orientation  Portal!</div>
        <div class='text-center'>
            <br>
            <p>Here, We can find different types employment related training materials.This <br>will  help us to learn the work process which we are going to do in future.
                <br> Moreover, we can get certifications based on quiz.</p>
        </div>
    </div>
    </div>
    <div>
        <div class="land-login-sec portal-name-text">
         <div class="text-center">
             <div class="dis-inline-block circle">
            <mat-icon class="f-50 emp-icon" color="primary">engineering</mat-icon>
        </div>
         </div>
         <div class="text-center font-20">Employee Orientation Portal</div>
         <br>
         <div class="login-type text-center">
             <div>Proceed to Select Login option</div>
             <div class="text-center">
                 <br>
                 <button mat-raised-button  class="m-10" color="primary" (click)="loginAs('admin-login')">Admin</button>
                 <div class="text-center">OR</div>
                 <button mat-raised-button class="m-10" color="primary" (click)="loginAs('employee-login')">Employee</button>
             </div>
         </div>
        </div>
    </div>
</div>
</div>